[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/fowlmouth/nimrod-sfml.git
[submodule "dependencies/chipmunk"]
	path = dependencies/chipmunk
	url = https://github.com/fowlmouth/nimrod-chipmunk.git
[submodule "dependencies/nake"]
	path = dependencies/nake
	url = git://gist.github.com/3607822.git
[submodule "dependencies/new-enet"]
	path = dependencies/new-enet
	url = https://github.com/fowlmouth/nimrod-enet.git
